{
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["chrome >= 59"]
            }
          }
        ],
        "react"
      ],
      "plugins": ["transform-object-rest-spread", "transform-class-properties"]
    },
    "development": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["chrome >= 59"]
            }
          }
        ],
        "react"
      ],
      "plugins": ["transform-object-rest-spread", "transform-class-properties"]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["chrome >= 59"]
            }
          }
        ],
        "react"
      ],
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties",
        "lodash"
      ]
    }
  }
}
